<!DOCTYPE html>
<html>
<head>
  <title>OpenOrgPta</title>
  <%= stylesheet_link_tag    "open_org_pta/application", :media => "all" %>
  <%= javascript_include_tag "open_org_pta/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
